html {
    font-family: monospace;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

textarea {
    width: 99%;
    height: 8em;
    resize: none;
}

h1:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
}

.text {
    padding: 2px;
    overflow: hidden;
}

div#main {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

/* list of areas */
div.row:hover {
    border-width: 2px;
    cursor: pointer;
}
div.row {
    max-width: 960px;
    width: 100%;
    border: 1px solid gray;
    margin: 2px;
    float: left;
    overflow: hidden;
}

/* area info */
div#info {
    max-width: 960px;
    width: 100%;
    float: left;
}
div#details {
}
div.button:hover {
    border-width: 2px;
    cursor: pointer;
}
div.button {
    width: 100%;
    border: 1px solid gray;
    margin-top: 4px;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
}
div#commits {
    max-width: 960px;
    width: 100%;
    float: left;
}
div.commit:hover {
    border-width: 2px;
    cursor: pointer;
}
div.commit {
    width: 100%;
    border: 1px solid gray;
    margin: 4px;
}
div.commit_message {
}
div.commit_sign {
    text-align: right;
}
